body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  min-height: 100vh;
}

.cat-container {
  background: lightskyblue;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.dashboard-container {
  background: lightskyblue;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 800px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.cat-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.item-header {
  font-weight: bold;
  background-color: #e0e0e0;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#edit-btn {
  font-size: 24px;
  color: blue;
}

#delete-btn {
  font-size: 24px;
  color: red;
}
